In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from scipy.stats import pearsonr
%matplotlib inline

In [39]:
#file = pd.read_csv('desktop/ds_salary_proj/gls_jobs.csv')
file

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,Company txt,Job_State,Age of company,Python,R-Studio,Spark,Excel,Medical,Job_toolkit
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research 3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research,NM,48,True,True,False,True,False,"python,excel"
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System 3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System,MD,37,True,True,False,False,True,"python,medical"
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4 4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4,FL,11,True,True,True,True,False,"python,spark,excel"
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL 3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL,WA,56,True,True,False,False,False,python
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions 2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions,NY,23,True,True,False,True,False,"python,excel"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,"Principal, Data Science - Advanced Analytics",86-137,IQVIA is the leading human data science compan...,3.6,IQVIA 3.6,"Plymouth Meeting, PA","Durham, NC",10000+ employees,2017,Company - Public,...,111.5,IQVIA,PA,4,False,True,False,False,True,medical
950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK 3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,84.5,GSK,MA,191,False,True,False,False,False,None
951,Senior Data Engineer,72-133,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite 4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,102.5,Eventbrite,TN,15,True,True,True,False,True,"python,spark,medical"
952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute 2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,73.5,Software Engineering Institute,PA,37,False,True,False,True,False,excel
955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute 3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,93.5,Riverside Research Institute,OH,54,True,True,False,False,False,python

In [24]:
#test.columns
file = file.drop('Unnamed: 0',axis=1)
#Salary Parsing
file = file[file['Salary Estimate']!='-1']
file.loc[:,'Salary Estimate'] = file.loc[:,'Salary Estimate'].apply(lambda x: str(x.split('(')[0]).replace('K',"").replace('$',""))
left_parse = file['Salary Estimate'].apply(lambda x: ''.join(filter(str.isdigit,x.split('-')[0])))
right_parse = file['Salary Estimate'].apply(lambda x: ''.join(filter(str.isdigit,x.split('-')[1])))
salary_filtered = left_parse + "-" + right_parse
file['Salary Estimate'] = salary_filtered 
file['min_salary'] = left_parse.apply(lambda x: int(x))
file['max_salary'] = right_parse.apply(lambda x: int(x))
file['avg_salary'] = (file['min_salary']+file['max_salary'])/2
#Company Name Text Only
file['Company Name'] = file['Company Name'].apply(lambda x: x.replace("\r\n"," "))
file['Company txt'] = file.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3], axis=1)
#State field
file['Job_State'] = file['Location'].apply(lambda x: x[-2:])
#Age of company
file = file[file['Founded']!= -1]
file.loc[:,'Age of company'] = 2021-file['Founded']
#Parsing job description
file['Python'] = file['Job Description'].apply(lambda x: True if "python" in x.lower() else False)
file['R-Studio'] = file['Job Description'].apply(lambda x: True if "r-studio" or "r studio" in x.lower() else False)
file['Spark'] = file['Job Description'].apply(lambda x: True if "spark" in x.lower() else False)
file['Excel'] = file['Job Description'].apply(lambda x: True if "excel" in x.lower() else False)
file['Medical'] = file['Job Description'].apply(lambda x: True if "medical" in x.lower() else False)
def jobsearch(string_jt):
    str_id = string_jt.lower()
    res = ""
    job_list = ["python","r-studio","r studio","spark","excel","medical",]
    for i in job_list:
        if i in str_id:
            res += i
            res += ","
    if res=="":
        res = "None"
    return res.strip(",")
file['Job_toolkit'] = file['Job Description'].apply(jobsearch)

In [41]:
#cleaned_data = file
cleaned_data.to_csv('Cleaned_Salary_Data',index=False)